In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import matplotlib
matplotlib.rcParams["figure.figsize"]=(20,10)

In [2]:
df1=pd.read_csv("Bengaluru_House_Data.csv")
df1

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [3]:
df1.groupby('area_type')['area_type'].agg('count')

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [4]:
df2=df1.drop(['availability','society'],axis='columns')

In [5]:
df2['balcony'] = df2['balcony'].fillna(df2['balcony'].median())

In [6]:
df2.isnull().sum()

area_type      0
location       1
size          16
total_sqft     0
bath          73
balcony        0
price          0
dtype: int64

In [7]:
df2

,area_type,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,3.0,62.00
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,5 Bedroom,3453,4.0,0.0,231.00
13316,Super built-up Area,Richards Town,4 BHK,3600,5.0,2.0,400.00
13317,Built-up Area,Raja Rajeshwari Nagar,2 BHK,1141,2.0,1.0,60.00
13318,Super built-up Area,Padmanabhanagar,4 BHK,4689,4.0,1.0,488.00
13319,Super built-up Area,Doddathoguru,1 BHK,550,1.0,1.0,17.00

In [8]:
df3=df2.dropna()
df3.isnull().sum()

area_type     0
location      0
size          0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

In [9]:
df3['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [10]:
df3["BHK"] = df3["size"].apply(lambda x: int(x.split(' ')[0]))

C:\Users\prachi\AppData\Local\Temp\ipykernel_6356\2416278530.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["BHK"] = df3["size"].apply(lambda x: int(x.split(' ')[0]))

In [11]:
df3

,area_type,location,size,total_sqft,bath,balcony,price,BHK
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07,2
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00,4
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,3.0,62.00,3
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00,3
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,1.0,51.00,2
...,...,...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,5 Bedroom,3453,4.0,0.0,231.00,5
13316,Super built-up Area,Richards Town,4 BHK,3600,5.0,2.0,400.00,4
13317,Built-up Area,Raja Rajeshwari Nagar,2 BHK,1141,2.0,1.0,60.00,2
13318,Super built-up Area,Padmanabhanagar,4 BHK,4689,4.0,1.0,488.00,4
13319,Super built-up Area,Doddathoguru,1 BHK,550,1.0,1.0,17.00,1

In [12]:
df3[df3.BHK>20]

,area_type,location,size,total_sqft,bath,balcony,price,BHK
1718,Super built-up Area,2Electronic City Phase II,27 BHK,8000,27.0,0.0,230.0,27
4684,Plot Area,Munnekollal,43 Bedroom,2400,40.0,0.0,660.0,43

In [25]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [13]:
df3.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [28]:
df3[~df3["total_sqft"].apply(is_float)].head(60)

,area_type,location,size,total_sqft,bath,balcony,price,BHK
30,Super built-up Area,Yelahanka,4 BHK,2100 - 2850,4.0,0.0,186.000,4
122,Super built-up Area,Hebbal,4 BHK,3067 - 8156,4.0,0.0,477.000,4
137,Super built-up Area,8th Phase JP Nagar,2 BHK,1042 - 1105,2.0,0.0,54.005,2
165,Super built-up Area,Sarjapur,2 BHK,1145 - 1340,2.0,0.0,43.490,2
188,Super built-up Area,KR Puram,2 BHK,1015 - 1540,2.0,0.0,56.800,2
410,Super built-up Area,Kengeri,1 BHK,34.46Sq. Meter,1.0,0.0,18.500,1
549,Super built-up Area,Hennur Road,2 BHK,1195 - 1440,2.0,0.0,63.770,2
648,Built-up Area,Arekere,9 Bedroom,4125Perch,9.0,2.0,265.000,9
661,Super built-up Area,Yelahanka,2 BHK,1120 - 1145,2.0,0.0,48.130,2
672,Built-up Area,Bettahalsoor,4 Bedroom,3090 - 5002,4.0,0.0,445.000,4
772,Super built-up Area,Banashankari Stage VI,2 BHK,1160 - 1195,2.0,0.0,59.935,2
775,Built-up Area,Basavanagara,1 BHK,1000Sq. Meter,2.0,1.0,93.000,1
850,Super built-up Area,Bannerghatta Road,2 BHK,1115 - 1130,2.0,0.0,58.935,2
872,Super built-up Area,Singapura Village,2 BHK,1100Sq. Yards,2.0,2.0,45.000,2
886,Super built-up Area,Chandapura,1 BHK,520 - 645,1.0,0.0,15.135,1
927,Super built-up Area,Thanisandra,2 BHK,1000 - 1285,2.0,0.0,43.415,2
959,Super built-up Area,Kammasandra,1 BHK,650 - 665,1.0,0.0,18.410,1
990,Super built-up Area,Sarjapur,1 BHK,633 - 666,1.0,0.0,17.535,1
1019,Plot Area,Marathi Layout,1 Bedroom,5.31Acres,1.0,0.0,110.000,1
1086,Plot Area,Narasapura,2 Bedroom,30Acres,2.0,2.0,29.500,2
1178,Super built-up Area,Yelahanka,3 BHK,1445 - 1455,3.0,0.0,65.255,3
1183,Super built-up Area,Magadi Road,2 BHK,884 - 1116,2.0,0.0,46.500,2
1187,Super built-up Area,Thanisandra,2 BHK,850 - 1093,2.0,0.0,36.435,2
1400,Super built-up Area,Chamrajpet,9 BHK,716Sq. Meter,9.0,1.0,296.000,9
1484,Carpet Area,Hebbal,2 BHK,547.34 - 827.31,2.0,0.0,42.720,2
1542,Super built-up Area,Sarjapur Road,1 BHK,580 - 650,1.0,0.0,17.835,1
1614,Super built-up Area,Sarjapur Road,4 BHK,3425 - 3435,6.0,0.0,228.500,4
1643,Super built-up Area,Talaghattapura,3 BHK,1804 - 2273,3.0,0.0,120.000,3
1683,Super built-up Area,Old Madras Road,4 BHK,3630 - 3800,6.0,0.0,224.500,4
1694,Super built-up Area,JP Nagar,4 BHK,4000 - 5249,4.0,0.0,314.500,4
1712,Plot Area,Singena Agrahara,3 Bedroom,1500Sq. Meter,3.0,1.0,95.000,3
1743,Super built-up Area,Hosa Road,3 BHK,142.61Sq. Meter,3.0,1.0,115.000,3
1821,Plot Area,Sarjapur,3 Bedroom,1574Sq. Yards,3.0,1.0,76.000,3
2088,Super built-up Area,Yeshwanthpur,2 BHK,1250 - 1305,2.0,0.0,95.815,2
2128,Super built-up Area,Kanakpura Road,1 BHK,670 - 980,1.0,0.0,36.290,1
2228,Carpet Area,KR Puram,3 BHK,1005.03 - 1252.49,3.0,0.0,47.405,3
2265,Super built-up Area,Old Madras Road,4 BHK,3630 - 3800,6.0,0.0,200.500,4
2301,Super built-up Area,Hosa Road,2 BHK,1004 - 1204,2.0,0.0,36.430,2
2310,Super built-up Area,Whitefield,4 BHK,361.33Sq. Yards,4.0,2.0,270.000,4
2396,Super built-up Area,Balagere,1 BHK,645 - 936,1.0,0.0,41.900,1
2431,Super built-up Area,EPIP Zone,4 BHK,2710 - 3360,5.0,0.0,200.000,4
2575,Super built-up Area,Whitefield,4 BHK,2830 - 2882,5.0,0.0,145.500,4
2587,Super built-up Area,Tumkur Road,1 BHK,596 - 804,1.0,0.0,30.090,1
2713,Super built-up Area,KR Puram,3 BHK,1255 - 1863,3.0,0.0,69.315,3
2716,Super built-up Area,JP Nagar,2 BHK,1300 - 1405,2.0,0.0,93.865,2
2881,Built-up Area,Volagerekallahalli,2 BHK,117Sq. Yards,2.0,2.0,38.000,2
2916,Super built-up Area,Thanisandra,2 BHK,934 - 1437,2.0,0.0,58.680,2
2920,Super built-up Area,Mysore Road,2 BHK,980 - 1030,2.0,0.0,35.175,2
3174,Super built-up Area,Jakkur,4 BHK,2249.81 - 4112.19,4.0,0.0,260.500,4
3215,Super built-up Area,KR Puram,2 BHK,1070 - 1315,2.0,0.0,51.220,2
3228,Built-up Area,Dodda Banaswadi,5 Bedroom,3040Sq. Meter,5.0,1.0,140.000,5
3285,Plot Area,Whitefield,4 Bedroom,500Sq. Yards,4.0,2.0,378.000,4
3356,Super built-up Area,Yelahanka,4 BHK,2806 - 3019,6.0,0.0,125.500,4
3364,Super built-up Area,Whitefield,1 BHK,613 - 648,1.0,0.0,32.790,1
3468,Super built-up Area,Yeshwanthpur,2 BHK,704 - 730,2.0,0.0,49.475,2
3890,Super built-up Area,Tumkur Road,3 BHK,1210 - 1477,3.0,0.0,57.760,3
3947,Built-up Area,Sarjapur Road,4 Bedroom,3369 - 3464,6.0,0.0,143.000,4
3984,Super built-up Area,Uttarahalli,3 BHK,1125 - 1500,3.0,0.0,51.190,3
4113,Super built-up Area,BTM Layout,3 BHK,167Sq. Meter,3.0,2.0,10.000,3
4122,Super built-up Area,Tumkur Road,2 BHK,1076 - 1199,2.0,0.0,48.905,2

In [21]:
def convert_sqft_to_num(x):
    t = x.split("-")
    if len(t)==2:
        return (float(t[0])+float(t[1]))/2
    try:
        return float(x)
    except:
        return None

In [22]:
df3

,area_type,location,size,total_sqft,bath,balcony,price,BHK
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07,2
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00,4
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,3.0,62.00,3
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00,3
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,1.0,51.00,2
...,...,...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,5 Bedroom,3453,4.0,0.0,231.00,5
13316,Super built-up Area,Richards Town,4 BHK,3600,5.0,2.0,400.00,4
13317,Built-up Area,Raja Rajeshwari Nagar,2 BHK,1141,2.0,1.0,60.00,2
13318,Super built-up Area,Padmanabhanagar,4 BHK,4689,4.0,1.0,488.00,4
13319,Super built-up Area,Doddathoguru,1 BHK,550,1.0,1.0,17.00,1

In [23]:
df4=df3.copy()
df4["total_sqft"]=df3["total_sqft"].apply(convert_sqft_to_num)
df4

,area_type,location,size,total_sqft,bath,balcony,price,BHK
0,Super built-up Area,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,4
2,Built-up Area,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,3
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3
4,Super built-up Area,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,2
...,...,...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,5 Bedroom,3453.0,4.0,0.0,231.00,5
13316,Super built-up Area,Richards Town,4 BHK,3600.0,5.0,2.0,400.00,4
13317,Built-up Area,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,1.0,60.00,2
13318,Super built-up Area,Padmanabhanagar,4 BHK,4689.0,4.0,1.0,488.00,4
13319,Super built-up Area,Doddathoguru,1 BHK,550.0,1.0,1.0,17.00,1

In [24]:
df4.loc[30]

area_type     Super built-up  Area
location                 Yelahanka
size                         4 BHK
total_sqft                  2475.0
bath                           4.0
balcony                        0.0
price                        186.0
BHK                              4
Name: 30, dtype: object

In [30]:
df4[~df4["total_sqft"].apply(is_float)]

Empty DataFrame
Columns: [area_type, location, size, total_sqft, bath, balcony, price, BHK]
Index: []

In [33]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13246 entries, 0 to 13319
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   13246 non-null  object
 1   location    13246 non-null  object
 2   size        13246 non-null  object
 3   total_sqft  13200 non-null  float64
 4   bath        13246 non-null  float64
 5   balcony     13246 non-null  float64
 6   price       13246 non-null  float64
 7   BHK         13246 non-null  int64
dtypes: float64(4), int64(1), object(3)
memory usage: 1.4+ MB

In [ ]:
df5